body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;

}

/* Body Header */

#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

#about-info
{ margin-top: 35px;
    color: gray;
    text-align: justify;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: 0.5px;
    margin-left: 150px;
    margin-right: 150px;

}
#about
{

    height:auto;
    width:100%;
    position: relative;
}
#my_image
{  
    height:12rem;
    width: 12rem;
    display: block;
  margin:auto;
    border-radius: 50%;
    text-align: center;
    margin-top: -17vh;
    border: 3.5px solid white;
box-shadow: 0px 0px 10px 10px #3faddf inset, 2px 2px 10px 8px #AAAAAA;
}



/* Horizontal Lists */

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li a{
    color: white;
    text-decoration: none;
}

.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center{
    text-align: center;
}

/* Name and Social Icons*/

#name-social-container{
    margin-top: 20vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


.social-icons li a i{
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}


.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}
